:root {
    --container-bg-color: #ffffff;
    --button-bg-color: #114b72;
    --button-hover-color: #2980b9;
    --text-color: #333333;
    --error-color: #e74c3c;
    --bg-color: #020203f3;
}


body {
    height: 100%;
    background-color: var(--bg-color);
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-content-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-nav-bar {
    color: whitesmoke;
    background-color: #114b72;
    border-radius: 14px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-nav-bar:hover {
    background-color: #2980b9;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

.not-found-content {
    text-align: center;
    background-color: #34495e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.home-link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    transition: var(--button-hover-color) 0.3s;
}

.home-link:hover {
    background-color: var(--button-hover-color);
}